section {
  display: block;
}

.header-container {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  .navigation-container {
    background-color: var(--bright-accent);
    border-radius: 2px;
    .navigation-bar {
      display: flex;
      .search-bar-container {
        width: 100%;
        margin: auto;
        .search-bar {
          width: 100%;
          background-color: var(--bright-accent);
          box-sizing: border-box;
          border: none;
          padding: 2px 10px;
          outline: none;
        }
      }
      .magnifying-glass {
        height: 26px;
        padding: 10px;
      }
      .menu {
        height: 15px;
        padding: 15px;
      }
      img {
        float: right;
        cursor: pointer;
        filter: var(--icon-filter);
      }
      img:hover {
        opacity: 0.7;
      }
    }
    .search-settings-container {
      width: 100%;
      overflow: scroll;
      .read-view-settings {
        background-color: var(--mid-accent);
        padding: 7px;
        margin: 10px;
        app-view-selection {
          float: right;
        }
      }
      .version-search-container {
        padding: 5px 20px 0 20px;
        .version-search {
          background-color: var(--bright-accent);
          margin-left: -5px;
          padding: 5px;
          width: 100%;
          outline: none;
          border: none;
          border-bottom: 1px solid var(--dark-accent);
        }
      }
      .versions-container {
        padding: 0 10px;
        .miniview {
          display: inline-block;
          padding: 3px;
          .mini-selected {
            display: inline-block;
            background-color: var(--theme-accent);
            border-radius: 2px;
            cursor: pointer;
            padding: 5px;
            margin: 5px;
            span {
              color: hsl(var(--theme-accent), 10%);
              text-transform: uppercase;
              line-height: 20px;
            }
            .close {
              font-size: 20px;
              padding-right: 3px;
            }
          }
        }
        .versions {
          width: 100%;
          line-height: 1.3rem;
          tr {
            cursor: pointer;
            span {
              text-transform: uppercase;
            }
          }
          tr:hover {
            opacity: 0.7;
          }
          tr:nth-child(odd) {
            background-color: var(--mid-accent);
          }
          td {
            padding: 8px;
            width: 33%;
          }
          .selected {
            background-color: var(--theme-accent) !important;
          }
        }
      }
    }
  }
}