<section>
  <div class="header-container">
    <!-- Navigation Bar & Settings -->
    <div class="navigation-container shadow">
      <div class="navigation-bar">
        <div class="search-bar-container">
          <input class="search-bar std-font lg-font-size" [(ngModel)]="searchState.searchTerm" (keyup.enter)="search()" type="text" placeholder="Search"/>
        </div>
        <img class="magnifying-glass std-transition" (click)="search()" src="../../assets/img/search.png" alt="search"/>
        <img class="menu std-transition" (click)="updateSearch(!isSearchExpanded)" src="../../assets/img/menu.png" alt="menu"/>
      </div>
      <!-- Search Settings Container -->
      <div class="search-settings-container std-transition" [ngStyle]="{'height': isSearchExpanded ? '350px' : '0' }">
        <div class="read-view-settings">
          <!-- Dark Mode Toggle -->
          <app-dark-mode [appSettings]="appSettings" [colorRange]="colorRange"></app-dark-mode>
          <!-- Color Slider -->
          <app-accent-slider [appSettings]="appSettings" [colorRange]="colorRange"></app-accent-slider>
          <!-- Read View Selection -->
          <app-view-selection [modeSettings]="modeSettings"></app-view-selection>
        </div>
        <!-- Version Search Input -->
        <div class="version-search-container">
          <input class="version-search std-font md-font-size" type="text" [(ngModel)]="searchState.versionSearchTerm" (ngModelChange)="searchState.filterVersions()" placeholder="Search Versions"/>
        </div>
        <!-- Version List -->
        <div class="versions-container">
          <!-- Selected Versions Row -->
          <div class="miniview std-font" *ngIf="searchState.selectedVersions && searchState.selectedVersions.size > 0">
            <div class="mini-selected sm-font-size std-transition" *ngFor="let version of searchState.selectedVersions" (click)="searchState.toggleVersion(version)">
              <span *ngIf="searchState.selectedVersions.size > 1" class="close">×</span>
              <span>{{searchState.versionFromId(version).name}}</span>&nbsp;
              <span>[{{searchState.versionFromId(version).description}}]</span>
            </div>
          </div>
          <!-- Available Version Row -->
          <table class="versions std-font">
            <tr class="std-transition sm-font-size" *ngFor="let version of searchState.filteredVersions" (click)="searchState.toggleVersion(version.id)" [ngClass]="{'selected': searchState.selectedVersions.has(version.id)}">
              <td><span>{{version.name}}</span></td>
              <td><span>{{version.description || 'Not Provided'}}</span></td>
              <td><span>{{version.language.name}} <sup>[{{version.language.script}}]</sup></span></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
