.toggle-container {
  display: inline-block;
  position: absolute;
  padding: 12px;
  .toggle {
    display: inline-block;
    cursor: pointer;
    .checkbox {
      margin: 4px 15px 0 5px;
    }
    .title {
      opacity: 0.7;
    }
    .title:hover {
      opacity: 1;
    }
  }
}

section {
  width: 100%;
  box-sizing: border-box;
}

.content-container {
  width: 100%;
  padding: 3px;
  .scripture-group {
    position: relative;
    .scripture-container {
      position: relative;
      display: inline-grid;
      box-sizing: border-box;
      padding: 0 10px 0 10px;
      .version {
        padding: 10px 0 5px 0;
        span {
          text-transform: uppercase;
        }
        div {
          padding-top: 10px;
        }
      }
      .content {
        padding: 10px;
        text-align: left;
      }
    }
  }
}
