<section>
  <ng-container *ngFor="let version of searchResults">
    <ng-container *ngIf="version.results && hasContent(version)">
      <!-- Version Name -->
      <div class="version-name">
        <span>{{version.name}}
          <span *ngIf="version.description">[{{version.description}}]</span>
        </span>
      </div>

      <!-- Search Result Container -->
      <div class="search-result-container">
        <!-- If Results Contained Verses -->
        <ng-container *ngIf="version.results.verses && version.results.verses.length > 0">
          <ng-container *ngFor="let verse of version.results.verses">
            <!-- Container For Each Verse Result -->
            <div class="result-content">
              <!-- Checkbox For Selecting Verse -->
              <div class="checkbox" (click)="select(verse, version, false)" [ngClass]="{'checkbox-checked': verse.selected}"></div>
              <!-- Name Of The Verse -->
              <div class="reference" (click)="select(verse, version, false)">
                <span>{{verse.reference}}</span>
              </div>
              <!-- Verse Text -->
              <div class="scripture-styles" (click)="select(verse, version, false)">
                <p class="p">{{verse.text}}</p>
              </div>
            </div>
          </ng-container>
          <!-- Button To Add More Search Results To Queue -->
          <div class="plus-results-container" *ngIf="hasMoreResults(version)">
            <img class="plus-icon" (click)="addResults(version)" src="./assets/img/plus.png" alt="Add Results"/>
          </div>
        </ng-container>

        <!-- If Results Contained Passages -->
        <ng-container *ngIf="version.results.passages && version.results.passages.length > 0">
          <ng-container *ngFor="let passage of version.results.passages">
            <!-- Container For Each Passage Result -->
            <div class="result-content">
              <!-- Checkbox For Selecting Verse -->
              <div class="checkbox" (click)="select(passage, version, true)" [ngClass]="{'checkbox-checked': passage.selected}"></div>
              <!-- Icon To Expand Passage Container -->
              <ng-container *ngIf="!passage.expanded">
                <img class="passage-expand" (click)="passage.expanded = true" src="./assets/img/plus.png" alt="Expand"/>
              </ng-container>
              <!-- Icon To Shrink Passage Container -->
              <ng-container *ngIf="passage.expanded">
                <img class="passage-expand" (click)="passage.expanded = false" src="./assets/img/minus.png" alt="Shrink"/>
              </ng-container>
              <!-- Name Of The Passage -->
              <div class="reference" (click)="select(passage, version, true)">
                <span>{{passage.reference}}</span>
              </div>
              <!-- Passage Content -->
              <div class="passage-container" (click)="select(passage, version, true)" [ngClass]="{'passage-container-expanded': passage.expanded}">
                <div class="scripture-styles" [innerHTML]="passage.content"></div>
              </div>
              <!-- Copyright Content -->
              <div class="copyright" *ngIf="passage.expanded">
                <span>{{passage.copyright}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</section>
