<!-- Button To Display Off To the Right To Enter Read Mode -->
<div class="prompt std-font" (click)="displayResults()" [ngClass]="{'prompt-show': searchState.hasSelected()}">
  <span class="md-font-size">Open Read View</span>
</div>

<section>
  <ng-container *ngFor="let version of searchState.searchResults.results">
    <ng-container *ngIf="version.results && searchState.hasContent(version)">
      <div class="result-container shadow">
        <!-- Version Name -->
        <div class="version-name std-font">
          <span class="md-font-size">{{version.name}}
            <span *ngIf="version.description">[{{version.description}}]</span>
          </span>
        </div>

        <!-- If Results Contained Verses -->
        <ng-container *ngIf="version.results.verses && version.results.verses.length > 0">
          <ng-container *ngFor="let verse of version.results.verses">
            <!-- Container For Each Verse Result -->
            <div class="result-content" (click)="searchState.select(verse, version, false)">
              <!-- Checkbox For Selecting Verse -->
              <div class="checkbox" [ngClass]="{'checkbox-checked': verse.selected}"></div>
              <!-- Name Of The Verse -->
              <div class="reference std-font">
                <span class="md-font-size">{{verse.reference}}</span>
              </div>
              <!-- Verse Text -->
              <div class="scripture-styles">
                <p class="p">{{verse.text}}</p>
              </div>
            </div>
          </ng-container>
          <!-- Button To Add More Search Results To Queue -->
          <div class="plus-results-container std-font" *ngIf="searchState.hasMoreResults(version)" (click)="addResults(version)">
            <span>Add More Results</span>
            <img class="plus-icon" src="./assets/img/plus.png" alt="Add Results"/>
          </div>
        </ng-container>

        <!-- If Results Contained Passages -->
        <ng-container *ngIf="version.results.passages && version.results.passages.length > 0">
          <ng-container *ngFor="let passage of version.results.passages">
            <!-- Container For Each Passage Result -->
            <div class="result-content" (click)="searchState.select(passage, version, true)">
              <!-- Checkbox For Selecting Verse -->
              <div class="checkbox" [ngClass]="{'checkbox-checked': passage.selected}"></div>
              <!-- Icon To Expand Passage Container -->
              <ng-container *ngIf="!passage.expanded">
                <img class="passage-expand" (click)="toggleExpand($event, passage)" src="./assets/img/plus.png" alt="Expand"/>
              </ng-container>
              <!-- Icon To Shrink Passage Container -->
              <ng-container *ngIf="passage.expanded">
                <img class="passage-expand" (click)="toggleExpand($event, passage)" src="./assets/img/minus.png" alt="Shrink"/>
              </ng-container>
              <!-- Name Of The Passage -->
              <div class="reference std-font">
                <span class="md-font-size">{{passage.reference}}</span>
              </div>
              <!-- Passage Content -->
              <div class="passage-container" [ngClass]="{'passage-container-expanded': passage.expanded}">
                <div class="scripture-styles" [innerHTML]="passage.content"></div>
              </div>
              <!-- Copyright Content -->
              <div class="copyright std-font" *ngIf="passage.expanded">
                <span class="xs-font-size">{{passage.copyright}}</span>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</section>
