section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.version-name {
  text-transform: uppercase;
  padding: 5px 5px 15px 5px;
}

.result-content {
  cursor: pointer;
  width: 100%;
  padding: 18px;
  box-sizing: border-box;
  background-color: var(--bright-accent);
  .passage-expand {
    cursor: pointer;
    height: 18px;
    float: right;
    margin-right: 10px;
  }
  .reference {
    padding-bottom: 5px;
  }
  .passage-container {
    overflow: hidden;
    max-height: 300px;
  }
  .passage-container-expanded {
    overflow: scroll;
    max-height: unset;
  }
  .copyright {
    padding-top: 20px;
    span {
      text-transform: uppercase;
    }
  }
}
.result-content:first-child {
  margin-top: 10px;
}
.result-content:nth-child(even) {
  background-color: var(--mid-accent);
}
.result-content:last-child {
  margin-bottom: 0 !important;
}

.plus-results-container {
  cursor: pointer;
  display: block;
  padding: 8px;
  margin-top: 10px;
  text-align: center;
  background-color: var(--mid-accent);
  .plus-icon {
    position: relative;
    height: 15px;
    margin: 0 0 -2px 5px
  }
}

.result-container {
  padding: 10px;
  background-color: var(--bright-accent);
  border-radius: 2px;
  margin-bottom: 10px;
}
.result-container:last-child {
  margin-bottom: 0;
}

.prompt {
  display: none;
  top: 0;
  padding: 10px;
  position: sticky;
  background-color: var(--theme-accent);
  border-radius: 2px;
  margin: 10px 10px -13px 10px;
  text-align: center;
  z-index: 999;
  span {
    color: #f9f9f9;
  }
}
.prompt-show {
  display: block;
  cursor: pointer;
}

