<div class="read-view-selection-container">
  <div class="read-view-selection std-font std-transition">
    <img [src]="modeSettings.modes[modeSettings.current].icon"/>
    <span class="md-font-size">{{modeSettings.modes[modeSettings.current].display}}</span>
    <img class="down-arrow std-transition" src="../../../../assets/img/caret.png"/>
  </div>
  <div class="read-view-selection-list md-font-size shadow std-transition">
    <ng-container *ngFor="let mode of this.modeSettings.modes | keyvalue : originalOrder">
      <div class="read-view-selection std-font" (click)="setMode(mode.value.id)">
        <img [src]="mode.value.icon"/>
        <span class="md-font-size">{{mode.value.display}}</span>
      </div>
    </ng-container>
  </div>
</div>
