.slider-container {
  padding: 5px 10px;
  line-height: 30px;
  display: inline-flex;
  span {
    padding-left: 10px;
  }
  .range-slider {
    width: 80px;
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      background: linear-gradient(to right, hsl(0, 75%, 50%), hsl(60, 75%, 50%), hsl(120, 75%, 50%), hsl(180, 75%, 50%), hsl(240, 75%, 50%), hsl(300, 75%, 50%), hsl(360, 75%, 50%));
      outline: none;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: var(--dark-accent);
      cursor: pointer;
    }
    .slider::-moz-range-thumb {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      background: var(--dark-accent);
      cursor: pointer;
    }
  }
}
