.perceive {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

.header {
  display: table-row;
}

.hidden {
  display: none;
}

.content {
  height: 100%;
  margin: 0;
  display: table-row;
}

.info-container {
  width: 100%;
  height: 100%;
  text-align: center;
  .image-container {
    padding-top: 50px;
    img {
      width: 40%;
      height: auto;
      max-width: 500px;
      max-height: 500px;
      position: relative;
      z-index: 1;
    }
    p {
      color: #b2b3b3;
      font: 300 3vw Helvetica Neue, Helvetica, Arial, sans-serif;
      position: relative;
      margin-bottom: -7%;
      z-index: 2;
    }
  }
  .info {
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    div {
      width: 100%;
      height: 100%;
      border-radius: 2px;
      background-color: white;
    }
    ul {
      list-style: none;
      margin:0;
      padding: 10px 0 0 0;
      text-align: left;
      li {
        font: 200 22px Helvetica Neue, Helvetica, Arial, sans-serif;
      }
      .title {
        padding: 0 20px 0 20px;
      }
      .help-info {
        font-size: 18px;
        padding: 0 40px 0 40px;
        span {
          cursor: pointer;
          white-space: nowrap;
          i {
            color: #cc5200;
            text-decoration: underline;
          }
        }
      }
      .view-grid {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        div {
          text-align: center;
          img {
            padding: 30px 30px 0 30px;
            width: 40%;
            max-width: 80px;
          }
        }
        p {
          text-align: center;
        }
        .explanation {
          font-size: 18px;
          padding: 0 20px 0 20px;
        }
        .example {
          color: #cc5200;
          font-size: 18px;
          margin-top: 0;
          margin-bottom: 40px;
        }
      }
    }
  }
}


.read-view-container {
  min-height: calc(100% - 20px);
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 2px;
  .settings-container {
    display: inline-block;
    padding: 5px 0 0 5px;
    .icon {
      height: 25px;
      cursor: pointer;
      padding: 5px;
      opacity: 0.7;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
    }
    .icon:hover {
      opacity: 1.0;
    }
    .up {
      transform: rotate(90deg);
    }
    .down {
      transform: rotate(-90deg);
    }
  }
}