<!-- Header Containing Settings Menu And Search Bar -->
<app-header [modeSettings]="modeSettings" (execSearch)="setSearchResults($event)"></app-header>
<!-- Display Search Results -->
<app-search *ngIf="!isReadView" [searchResults]="searchResults" (display)="display($event)"></app-search>

<!-- Display On Of The Read Views -->
<ng-container *ngIf="isReadView">
  <!-- Standard View -->
  <app-standard-view *ngIf="modeSettings.current === 'standard'" [content]="content"></app-standard-view>
</ng-container>
