.perceive {
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

.header {
  display: table-row;
}

.hidden {
  display: none;
}

.content {
  height: 100%;
  margin: 0;
  display: table-row;
}

.not-found {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  img {
    width: 40%;
    height: auto;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    z-index: 1;
  }
  p {
    color: #b2b3b3;
    font: 300 3vw Helvetica Neue, Helvetica, Arial, sans-serif;
    position: relative;
    margin-bottom: -7%;
    z-index: 2;
  }
}


.read-view-container {
  min-height: calc(100% - 20px);
  margin: 10px;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
  .settings-container {
    display: inline-block;
    padding: 5px 0 0 5px;
    .icon {
      height: 25px;
      cursor: pointer;
      padding: 5px;
      opacity: 0.7;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      transition: 300ms;
    }
    .icon:hover {
      opacity: 1.0;
    }
    .up {
      transform: rotate(90deg);
    }
    .down {
      transform: rotate(-90deg);
    }
  }
}

.margin-top {
  margin-top: 20px;
}