<!-- Container For Settings Pertaining To Viewer -->
<div class="settings-container">
  <table class="settings-table">
    <tr class="alphabetize-row">
      <td (click)="toggleAlphabetical()">
        <div class="alphabetize std-transition std-font md-font-size">Alphabetize</div>
      </td>
      <td (click)="toggleAlphabetical()">
        <div class="checkbox" [ngClass]="{'checkbox-checked': isAlphabetized}"></div>
      </td>
    </tr>
  </table>
</div>

<section [style.zoom]="zoom">
  <!-- View For Verses -->
  <ng-container *ngIf="hasContent(content.verses)">
    <div class="content-container">
      <ng-container *ngFor="let group of sortedContent.verses">
        <!-- Table For Each Passage Group -->
        <table class="content-table">
          <!-- Row To Container Reference, Name, And Content -->
          <ng-container *ngFor="let verse of group">
            <!-- Verse Title -->
            <tr>
              <td class="std-font">
                <div class="content-version">
                  <span>{{verse.versionInfo.name}}</span>&nbsp;
                  <span *ngIf="verse.versionInfo.description">[{{verse.versionInfo.description}}]</span>
                </div>
                <span class="md-font-size">{{verse.content.reference}}</span>
              </td>
            </tr>
            <!-- Verse Content -->
            <tr>
              <div class="scripture-styles content">
                <p class="p">{{verse.content.text}}</p>
              </div>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </div>
  </ng-container>

  <!-- View For Passages -->
  <ng-container *ngIf="hasContent(content.passages)">
    <div class="content-container">
      <ng-container *ngFor="let group of sortedContent.passages">
        <!-- Table For Each Passage Group -->
        <table class="content-table">
          <!-- Row To Container Reference, Name, And Content -->
          <ng-container *ngFor="let passage of group">
            <!-- Passage Title -->
            <tr>
              <td class="std-font">
                <div class="content-version">
                  <span>{{passage.versionInfo.name}}</span>&nbsp;
                  <span *ngIf="passage.versionInfo.description">[{{passage.versionInfo.description}}]</span>
                </div>
                <span class="md-font-size">{{passage.content.reference}}</span>
              </td>
            </tr>
            <!-- Passage Content -->
            <tr>
              <td>
                <div class="scripture-styles content" [innerHTML]="passage.content.content"></div>
              </td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </div>
  </ng-container>
</section>
