.settings-container {
  cursor: pointer;
  display: inline-block;
  .settings-table {
    margin: 2px;
    .alphabetize {
      padding: 0 5px 0 8px;
    }
    .checkbox {
      margin-top: 3px;
    }
  }
}

section {
  width: 100%;
  box-sizing: border-box;
}

span {
  font: 200 20px Helvetica Neue, Helvetica, Arial, sans-serif;
}

.content-container {
  .content-table {
    width: 100%;
    padding: 0 10px 0 10px;
    .content-reference {
      font-weight: 400 !important;
    }
    .content-version {
      padding-bottom: 5px;
      span {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
    .content {
      padding: 10px;
      text-align: left;
    }
  }
  table:last-child {
    margin: 0 auto 0 auto !important;
  }
}
